services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bank_service_app
    restart: unless-stopped
    working_dir: /var/www/html
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
      DB_CONNECTION: sqlite
      DB_DATABASE: /var/www/html/database/database.sqlite
    networks:
      - laravel

  nginx:
    image: nginx:1.25-alpine
    container_name: bank_service_nginx
    restart: unless-stopped
    ports:
      - "8008:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

networks:
  laravel:
    driver: bridge
