services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bank_transfer_service
    restart: unless-stopped
    working_dir: /var/www/html

    environment:
      APP_ENV: production
      APP_DEBUG: "false"
      APP_KEY: ${APP_KEY}
      DB_CONNECTION: sqlite
      DB_DATABASE: /data/database.sqlite

    volumes:
      - sqlite-data:/data

    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: bank_transfer_service_nginx
    restart: unless-stopped
    ports:
      - "8008:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  sqlite-data:
